@model ASP.Models.СписокКомплектующих

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Autorize.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить этот элемент?</h3>
<div>
    <h4>Список комплектующих</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Заказ.КодЗаказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Заказ.КодЗаказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Комплектующее.Марка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Комплектующее.Марка)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Home")
        </div>
    }
</div>
