@model ASP.Models.Комплектующее

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Autorize.cshtml";

@*<h2>Details</h2>*@

<div>
    <h2>Комплектующее</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Марка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Марка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ФирмаПроизводитель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ФирмаПроизводитель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СтранаПроизводитель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СтранаПроизводитель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ДатаВыпуска)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаВыпуска)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Характеристики)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Характеристики)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СрокГарантии)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СрокГарантии)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Описание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Описание)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Цена)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Цена)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ВидКомплектующих.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ВидКомплектующих.Наименование)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.КодКомплектующего }) |
    @Html.ActionLink("Вернуться к списку", "Home")
</p>
