@model ASP.Models.Комплектующее

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Autorize.cshtml";
}

<h2>Редактирование</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Комплектующее</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.КодКомплектующего)

        <div class="form-group">
            @Html.LabelFor(model => model.КодВида, "КодВида", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("КодВида", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.КодВида, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Марка, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Марка, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Марка, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ФирмаПроизводитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ФирмаПроизводитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ФирмаПроизводитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.СтранаПроизводитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.СтранаПроизводитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.СтранаПроизводитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ДатаВыпуска, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ДатаВыпуска, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ДатаВыпуска, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Характеристики, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Характеристики, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Характеристики, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.СрокГарантии, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.СрокГарантии, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.СрокГарантии, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Описание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Описание, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Описание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Цена, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Цена, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Цена, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
