@model ASP.Models.Сотрудники

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Сотрудники</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ФИО)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ФИО)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стаж)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стаж)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.КодСотрудника }) |
    @Html.ActionLink("Back to List", "Index")
</p>
