@model ASP.Models.Заказы

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Заказы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ДатаЗаказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаЗаказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ДатаИсполнения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаИсполнения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Предоплата)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Предоплата)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отметки)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отметки)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Гарантия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Гарантия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стоимость)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стоимость)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
