@model IEnumerable<ASP.Models.Услуга>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Наименование)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Описание)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Стоимость)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Описание)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Стоимость)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.КодУслуги }) |
            @Html.ActionLink("Details", "Details", new { id=item.КодУслуги }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.КодУслуги })
        </td>
    </tr>
}

</table>
