@model IEnumerable<ASP.Models.СписокУслуг>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Заказ.Отметки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Услуга.Наименование)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Заказ.Отметки)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Услуга.Наименование)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.КодСписка }) |
            @Html.ActionLink("Details", "Details", new { id=item.КодСписка }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.КодСписка })
        </td>
    </tr>
}

</table>
